
body {
   font-family: Futura,Trebuchet MS,Arial,sans-serif;
   color: white;
   font-size: 36px;
   font-weight: bold;
   margin: 0px;
}

/****    Main   ****/
.container {
   display: flex;
   flex-flow: row;
   min-height: 100vh;
   max-height: 100vh;
   justify-content: center;
   align-content: center;
}

.inner {
   cursor: pointer;
   display: flex;
   width: 50%;
   font-size: 1.4em;
   height: 100vh;
   text-align: center;
}

.first {
   flex: auto;
   background: #aec6cf;
}

.second {
   flex: auto;
   background: #ff6961;
}

.inner:hover {
   opacity: 0.7;
}

.content {
   width: 80%;
   margin: auto;
}

/**** Finish menu ****/
.finish {
   width: 80%;
   margin: auto;
   display: none;
   color: black;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   font-size: 1.5em;
}

.finish h3 {
   font-size: 0.8em;
   text-align: center;
   margin-bottom: 10px;
}

ol {
   width: 90%;
   margin: 0 auto;
}

li {
   font-size: .5em;
   font-weight: normal;
}

/**  Mobile specific  **/
@media screen and (orientation: portrait) {

  .container {
     flex-flow: column;
  }

  .inner {
     height: auto;
     width: 100%;
  }

  .finish {
     font-size: 1.25em;
  }

}
